.ms__layout {
  height: 100%;
  .el-aside {
    .el-menu {
      border-right-width: 0;
      height: 100%;
    }
  }
  .el-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 5px #e7e4e4;
  }
  .el-main {
    overflow: hidden;
    padding: 0;
    .context {
      padding: 20px;
      overflow: auto;
      height: 100%;
    }
  }
}